.form-search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-search .input-search {
  height: 50px;
  width: 700px;

  border-radius: 30px;
  margin-left: 45px;
  border: 1px solid #ccc;

  padding-left: 15px;
  padding-right: 40px;
}

.form-search .submit-search {
  position: relative;
  right: 45px;
  width: 45px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.button-navigation {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-bottom: 25px;
}

.next-button {
  padding: 10px 20px;
  border-radius: 0px 10px 10px 0px;
  background: transparent;
  border: 2px solid #ccc;
  transition: .5s all;
  cursor: pointer;
}

.prev-button {
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  background: transparent;
  border: 2px solid #ccc;
  transition: .5s all;
  cursor: pointer;
}

.next-button:hover{
  background: #0388A6;
  transition: .5s all;
  color: #fff;
}
.prev-button:hover {
  background: #e68609;
  color: #fff;
  transition: .5s all;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

@media (max-width: 900px) {
  .form-search .input-search {
    width: 300px;
  }

}