
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  background: #E3E6EB;
}

body, button {
  font-family: "Nunito", sans-serif;
}

.content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
