.form-create {
  display: flex;
  flex-direction:column;
  justify-content: center;

  max-width: 700px;
  margin: 15px auto;
}

.form-create .input-create {
  height: 45px;
  margin-bottom: 20px;

  border-radius: 30px;
  border: 1px solid #ccc;
  padding-left: 15px;
  padding-right: 15px;
}
.form-create textarea {
  resize: vertical;
  padding-top: 15px;
}
.form-create .input-create + input[type="date" i] {
  color: rgb(119, 119, 119);
}
.form-create select {
  background: #fff;
  color: rgb(119, 119, 119);
}


.form-create label {
  margin-left: 15px;
}

.form-create .confirm-button {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  border: none;
  background: #75DDAB;
  color: #F2FFF9;
  font-size: 17px;
}